{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-5">
<h1 class="recipe rounded text-center pt-2">Recettes</h1>
</div>
<div class="container d-flex justify-content-center col-md-12 mt-5">
    <div class="row gap-5 ">
            
            {% for recipe in recipes %}
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p class="card-text">{{recipe.description}}</p>
                            <p class="card-text">{{recipe.ingredients}}</p>
                            <p class="card-text">{{recipe.steps}}</p>
                            <a href="#" class="btn px-5">Recette</a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="{{ asset('assets/images/Recipes/' ~ recipe.picture)}}" class="img-fluid rounded-end mx-2" alt="{{ recipe.title }}">
                        <div class="d-flex justify-content-center gap-2 mt-3">
                            <img src="{{ asset('assets/images/temps-32.png')}}"  alt="" title="Temps de préparation">{{recipe.preparationTime}}
                            <img src="{{ asset('assets/images/cuisson-32.png')}}" alt="" title="Temps de cuisson">{{recipe.cookingTime}}
                            <img src="{{ asset('assets/images/repos32.png')}}"  alt="" title="Temps de repos">{{recipe.timeOfRest}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div> 
    </div>
</div>
{% endblock %}
