{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<section class="container">
    <div class="row">
        <div class=col>
        <h1>Contact</h1>

        {{ form_start(ContactForm) }}
            <fieldset class="mb-3">
                {{ form_row(ContactForm.firstname) }}
                {{ form_row(ContactForm.lastname) }}
                {{ form_row(ContactForm.email) }}
                {{ form_row(ContactForm.message, {
                    label: 'Message'
                }) }}
            </fieldset>

            <button type="submit" class="btn my-3">Inscrire</button>
            <a href="{{ path('app_main')}}" class="btn">Me connecter</a>
        {{ form_end(ContactForm) }}
        </div>
    </div>
</section>
{% endblock %}
