{% extends 'base.html.twig' %}

{% block title %}Avis recette{% endblock %}

{% block body %}
<div id="recipeOpinion">
        <div class="fullcard form-floating">
            {{ form_start(scoreForm, {'attr': {'class': 'ajax-form'}}) }}
        </div>
        <div class="d-flex justify-content-around mt-4">
            <div class="d-block">
                <p>Vous avez testé la recette : </p>
                <p>{{ recipe.title }}</p>
            </div>
            {{ form_row(scoreForm.opinion) }}
            {{ form_row(scoreForm.note) }}
        </div>
        {{ form_end(scoreForm) }}
        <div id="ajax-messages"></div>
    </div>
{% endblock %}